ANVISA_AUTH_TOKEN_URL=https://acesso.prd.apps.anvisa.gov.br/auth/realms/externo/protocol/openid-connect/token
ANVISA_AUTH_CLIENT_ID=SEU_CLIENT_ID
ANVISA_AUTH_CLIENT_SECRET=SEU_CLIENT_SECRET
ANVISA_AUTH_SCOPE=openid
ANVISA_PRODUCT_API_URL=https://api-gateway.prd.apps.anvisa.gov.br/consultas-externas-api/api/v1/consulta/saude
ANVISA_API_BASE_URL=https://api-gateway.prd.apps.anvisa.gov.br/consultas-externas-api/api/v1
REQUEST_TIMEOUT=30
SSL_VERIFY=true
ALERTS_DATA_TTL_HOURS=24
ALERTS_MAX_PAGES=12
